{% extends "base.html" %}


{% block content %}
<section class="hero">

<div class="container text-center">

<h1 class="display-4 fw-bold">

Capital Autos

</h1>

<p>

Pakistan's Premium Auto Parts Store

</p>

<a class="btn btn-warning btn-lg">

Shop Now

</a>

</div>

</section>

<div class="container mt-5">

    <h2 class="text-center mb-4">
        Choose Your Brand
    </h2>

    <div class="row">

        {% for brand in brands %}

        <div class="col-md-4 mb-4">
    <div class="card brand-card shadow h-100">

        {% if brand.logo %}
        <img src="{{ brand.logo.url }}"
             class="card-img-top"
             style="height:220px;object-fit:contain;padding:20px;">
        {% endif %}

        <div class="card-body text-center">

            <h4>{{ brand.name }}</h4>

            <a href="{% url 'brand_detail' brand.id %}"
               class="btn btn-dark mt-2">
                View Models
            </a>

        </div>

    </div>
</div>

        {% endfor %}

    </div>

</div>
<hr class="my-5">

<div class="container">

    <h2 class="text-center mb-4">Popular Categories</h2>

    <div class="row">

        {% for category in categories %}

        <div class="col-md-3 col-6 mb-4">

            <div class="card shadow-sm text-center h-100">

                {% if category.image %}
                    <img src="{{ category.image.url }}"
                         class="card-img-top"
                         style="height:120px;object-fit:contain;padding:10px;">
                {% endif %}

                <div class="card-body">

                    <h6>{{ category.name }}</h6>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</div>
<hr class="my-5">

<div class="container">

    <h2 class="text-center mb-4">Featured Products</h2>

    <div class="row">

        {% for product in featured_products %}
    {% include "includes/product_card.html" %}
{% endfor %}

    </div>

</div>

{% endblock %}