:root{
    --primary:#d32f2f;
    --dark:#070606;
    --light:#f8f9fa;
    --white:#ffffff;
}

body{
    font-family:'Poppins',sans-serif;
    background:white;
    color:Black;
}

a{
    text-decoration:none;
}

.section-title{
    font-size:2rem;
    font-weight:700;
    color:var(--dark);
    margin-bottom:2rem;
}

.btn-primary{
    background:var(--primary);
    border:none;
}

.btn-primary:hover{
    background:#b71c1c;
}
