<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand fw-bold" href="/">
            🚗 Capital Autos
        </a>

        <form class="d-flex">
            <input
                class="form-control me-2"
                type="search"
                placeholder="Search Parts..."
            >

            <button class="btn btn-warning">
                Search
            </button>
        </form>

        <div>

            <a href="#" class="btn btn-outline-light">
                Login
            </a>

            <a href="#" class="btn btn-warning">
                Cart (0)
            </a>

        </div>

    </div>
</nav>