{% extends "base.html" %}


{% block content %}

<div class="container mt-5">

    <h2 class="text-center mb-4">
        Choose Your Brand
    </h2>

    <div class="row">

        {% for brand in brands %}

        <div class="col-md-4 mb-4">

            <div class="card shadow">

                {% if brand.logo %}
                    <img src="{{ brand.logo.url }}" class="card-img-top">
                {% endif %}

                <div class="card-body text-center">

                    <h4>{{ brand.name }}</h4>
                    <a href="{% url 'brand_detail' brand.id %}"
   class="btn btn-dark mt-3">
    View Models
</a>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}